.dashboard {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .headline{
    text-align: center;
    font-weight: bold;
    color: #784397;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filters input, .filters select {
    padding: 8px;
    font-size: 14px;
    margin-right: 10px;
    width: 100%;
    max-width: 200px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #eedbf8;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .filters {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #eedbf8;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
  .pagination button.active,
  .pagination button:hover {
    background-color: #784397;
    color: white;
    font-weight: bold;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  